
/* /* :root {
    --accent-bacground-color: #E5E5E5;
    --second-bacground-color: #F7F7F7;
    --third-bacground-color: #191C26;
    --accent-font: "Open+Sans", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-font-weight: 400;
    --second-font-weight: 600;
    --third-font-weight: 700;
    --accent-font-color: #303030;
    --second-font-color: #555555;
    --third-font-color: #FF6C00;
    --fourth-font-color: #9DA4BD;
    --accent-color-white: white;
    --accent-font-size: 11px;
    --secondary-font-size: 14px;
    --third-font-size: 18px;
    --fourth-font-size: 42px;
    --accent-line-height: 1.14;
  }
  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  .top-text {
  font-weight: 600;
  font-style: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  }
  .title {
  font-family: ralewey;
  font-weight: 700;
  font-style: 42px;
  letter-spacing: 0.05em;
  color: #303030;
  }
  .btn {

  } 
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  body {
    font-family: var(--accent-font);
  }
  /* ======/STYLES-RESET/====== */
 ul,
  ol,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  .link {
    text-decoration: none;  
}
  :link {
      text-decoration: none;  
  }
  .list {
    text-decoration: none;
  }
/*============HEADER=============*/
.section {
    color:
} 
.header-list {

}
.header-link {

}
.header-item {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: var(--accent-color-white);
} 

 



/*=============HERO==============*/
.hero {

}
.hero-list {

}

/*============ABOUT============*/
.about-top-text {
  font-weight: 600;
  font-style: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
.about-tittle {
  font-family: ralewey;
  font-weight: 700;
  font-style: 42px;
  letter-spacing: 0.05em;
  color: #303030;
}
.about-bottom-text {

}
.about-text {

}

.about-btn {
  font-family: inherit;
}
/*============PRICES=============*/
.prices {

}
.prices-top-text {

}
.prices-title {

}
.prices-item-text {

}
.prices-btn {

}
/*============BENEFITS===========*/
.benefits {

}
.benefits-list {

}
.benefits-item {

}
.benefits-item-count {

}
.benefits-item-text {

}
.benefits-top-text {

}
.benefits-title {

}
.benefits-bottom-text {

}
/*============MASTER=============*/
.master-top-text {

}
.master-title {

}
.master-item-title {

}
.master-item-text {

}
.master-item {

}
/*============ONLINE=============*/
.online {

}

.online-title {

}

.contacts-title {

}
.contacts-adress {
font-style: normal;
}

.contacts-list {

}

.contacts-item {

}

.contacts-link {

}
.contacts-subtitle {

}

.contacts-time {
font-style: 18px;
line-height: 1.67;

}

/*============FOOTER=============*/
.footer {

}

.footer-copy {

}

.footer-list {

}

.footer-item {

}

.footer-link {

}
.footer-link:hover {

}
