:root {
    --accent-color: #2196f3;
    --accent-secondary-color: #212121;
    --accent-bacground-color: #2f303a;
    --second-bacground-color: #f5f4fa;
    --accent-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-font-weight: 700;
    --second-font-weight: 500;
    --accent-font-color: #757575;
    --second-font-color: #ffffff;
    --accent-color-white: white;
    --accent-font-size: 14px;
    --secondary-font-size: 16px;
    --accent-line-height: 1.14;
  }
  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  .top-text {
  font-weight: 600;
  font-style: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  }
  .title {
  font-family: ralewey;
  font-weight: 700;
  font-style: 42px;
  letter-spacing: 0.05em;
  color: #303030;
  }
  .btn {

  }
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  /* ======/STYLES-RESET/====== */
  ul,
  ol,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  
  }
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  :link {
      text-decoration: none;  
  }
/*============HEADER=============*/
.section {
    color: #2196f3;
}







/*=============HERO==============*/
.hero {

}
.hero-list {

}

/*============ABOUT============*/
.about-top-text {
  font-weight: 600;
  font-style: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
.about-tittle {
  font-family: ralewey;
  font-weight: 700;
  font-style: 42px;
  letter-spacing: 0.05em;
  color: #303030;
}
.about-bottom-text {

}
.about-text {

}

.about-btn {
  font-family: inherit;
}
/*============PRICES=============*/
.prices {

}
.prices-top-text {

}
.prices-title {

}
.prices-item-text {

}
.prices-btn {

}
/*============BENEFITS===========*/
.benefits {

}
.benefits-list {

}
.benefits-item {

}
.benefits-item-count {

}
.benefits-item-text {

}
.benefits-top-text {

}
.benefits-title {

}
.benefits-bottom-text {

}
/*============MASTER=============*/
.master-top-text {

}
.master-title {

}
.master-item-title {

}
.master-item-text {

}
.master-item {

}
/*============ONLINE=============*/
.online {

}

.online-title {

}

.contacts-title {

}
.contacts-adress {
font-style: normal;
}

.contacts-list {

}

.contacts-item {

}

.contacts-link {

}
.contacts-subtitle {

}

.contacts-time {
font-style: 18px;
line-height: 1.67;

}

/*============FOOTER=============*/
.footer {

}

.footer-copy {

}

.footer-list {

}

.footer-item {

}

.footer-link {

}
.footer-link:hover {

}